.Student {
}

.--isDeleted {
  color: var(--color3);
  transition: color 0.5s ease;

  button {
    display: none;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease-in-out, display 0.5s ease-in-out;
  }
}

.--isNew {
  color: green;
}
